@media only screen and (min-width: 640px){
  .about{
    .text-content-blocks{
      h3{
        font-size: 40px;
      }

      p{
        font-size: 20px;
        line-height: 40px;
        padding: 15px 60px;
        text-align: left;
      }
    }
  }
}
