@import "vars";

.navbar {
  border-bottom: 1px solid $color-primary;
  width: 100%;

  h1 {
    float: left;
    margin-top: 6vw;
    margin-left: 2vw;
    font-size: 6vw;

    a {
      color: $color-primary;
    }
  }

  ul {
    float: right;
    width: 50%;
    margin-top: 8vw;

    li {
      display: inline-block;
      margin-right: 5%;

      a{
        color: $color-primary;

        &:hover {
          text-shadow: .5px .5px .5px $color-secondary;
        }
      }
    }
  }
}
