@import "../../vars.scss";

body{
  background-color: $true-white;
}

.clear-fix{
  clear: both;
}

footer{
  background-color: $black;
  color: $white;
  padding: 7vw 5vw;
  height: inherit;

  h3{
    text-align: center;
    font-size: 7vw;
    margin-bottom: 5vw;
    font-family: $font-logo;
  }

  ul{
    font-family: $font-secondary;
    text-align: center;
    padding-top: 5vw;
    font-size: 6vw;

    li{
      display: inline-block;
      padding: 1vw 3vw;
    }
  }

  .icon-list{
    ul{
      font-size: 5vw;

      li{
        padding: 4vw 5vw;
      }
    }
  }

  p{
    font-family: $font-secondary;
    font-style: italic;
    font-size: 4vw;
  }
}

.hidden {
  overflow: hidden;
  height: 100vw;
}
