@import "../../../vars.scss";

a {
  cursor: pointer;
}

.false-button{
  width: max-content;
  border: 4px solid $black;
  border-radius: 2px;
  padding: 4vw 7vw;
  font-size: 5vw;
  text-align: center;
}

.hero{
  height: 75vw;
  width: 100%;
  position: relative;

  .desktop-hero{
    display: none;
  }

  img{
    width: 100%;
    height: 100%;
    position: absolute;
  }

  .after-hero{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    font-family: $font-secondary;
    font-size: 10vw;
    color: $white;
    background: rgba(0, 0, 0, .6)
  }

  h2{
    width: 100%;
    text-align: center;
    padding-bottom: 2vw;
    margin-bottom: 4vw;
    font-family: $font-header;
    letter-spacing: .5vw;
    font-size: 10vw;
    padding-top: 20%;
  }

  .hero-tag{
    text-align: center;
    font-style: italic;
    font-size: 5vw;
  }
}

.jr-hero{
  background-color: $light-grey;
  padding: $gutter-large;
  padding-top: 50px;
  padding-bottom: 20px;
  margin-bottom: 20px;



  h2{
    font-size: 8vw;
    font-family: $font-secondary;
    margin-bottom: $gutter-small;
  }

  p{
    font-family: $font-main;
    font-size: 6vw;
    line-height: 9vw;
  }
}

.text-content-blocks {
  padding: 2vw 4vw;
  margin-bottom: 50px;

  h2{
    text-align: left;
    font-size: 7vw;
    margin-bottom: 20px;
    font-family: $font-main;
  }

  h3{
    font-size: 5vw;
    padding-bottom: 2vw;
    font-family: $font-secondary;
  }

  ul{
    list-style: circle inside;
    margin: 2vw 4vw;
    font-family: $font-main;

    li{
      padding: 2vw;
    }
  }
}
