@import "../../vars.scss";

.portfolio-squares{
  width: 90%;
  margin: 0 auto;
  height: 90vw;

  img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .after-img{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    font-family: $font-secondary;
    font-size: 10vw;
    color: white;
    background: rgba(0, 0, 0, .6);

    .ps-tagline{
      position: relative;
      top: 20vw;
      font-size: 5vw;
      margin-bottom: $gutter-small;
      padding: $gutter-small;
    }
  }
}
