.false-button {
  width: max-content;
  border: 4px solid #1f1f1f;
  border-radius: 2px;
  padding: 4vw 7vw;
  font-size: 5vw;
  text-align: center;
}

footer {
  height: 150px;
  margin-top: 20px;
  background-color: #1f1f1f;
  color: white;
}

.hidden {
  overflow: hidden;
  height: 100vw;
}

.hero {
  height: 75vw;
  width: 100%;
  position: relative;
}
.hero img {
  width: 100%;
  height: 100%;
  position: absolute;
}
.hero .after-hero {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  font-family: "Dosis", sans-serif;
  font-size: 10vw;
  color: white;
  background: rgba(0, 0, 0, 0.6);
}
.hero h2 {
  padding-top: 20%;
}

header {
  height: 17vw;
}
header h1 {
  position: absolute;
  top: 4vw;
  left: 3vw;
  font-size: 10vw;
}
header .nav-icon {
  position: absolute;
  top: 5vw;
  right: 3vw;
  font-size: 10vw;
}
header .main-nav {
  float: right;
  font-size: 7vw;
  margin-top: 5vw;
  margin-right: 3vw;
  position: relative;
  width: 100%;
}
header .menu {
  position: fixed;
  top: 17vw;
  left: -100%;
  z-index: 99;
  width: 100%;
  background: #1f1f1f;
  height: 100vh;
  transition: 0.5s all;
  z-index: 99;
}
header .menu li a {
  float: left;
  width: 99.7%;
  text-align: center;
  color: white;
  font-size: 10vw;
  padding: 4vw 0;
  font-family: "Dosis", sans-serif;
}
header .display-nav {
  position: fixed;
  top: 17vw;
  left: -100%;
  z-index: 99;
  width: 100%;
  background: #1f1f1f;
  height: 100vh;
  transform: translateX(100%);
  transition: 0.5s all;
}
header .display-nav li a {
  float: left;
  width: 99.7%;
  text-align: center;
  color: white;
  font-size: 10vw;
  padding: 4vw 0;
  font-family: "Dosis", sans-serif;
}
header li {
  list-style: none;
}
header li a {
  color: white;
  text-decoration: none;
  padding-left: 12px;
  cursor: pointer;
}
header .hidden {
  overflow: hidden;
  height: 100vw;
}

h2 {
  width: 100%;
  text-align: center;
  padding-top: 2vw;
  padding-bottom: 2vw;
  margin-bottom: 4vw;
  font-family: "Gothic A1", sans-serif;
  font-size: 8vw;
}

p {
  text-align: center;
  padding: 0vw 2vw;
  margin-bottom: 4vw;
  font-size: 6vw;
  padding: 5vw;
  line-height: 7vw;
}

.false-button {
  margin: 0 auto;
}

.home {
  font-family: "Gothic A1", sans-serif;
}
.home .quick-about {
  background-color: #edeeef;
  padding: 12vw 4vw;
}
.home .quick-about h2 {
  width: 100%;
  text-align: center;
  padding-top: 2vw;
  padding-bottom: 2vw;
  margin-bottom: 4vw;
  font-family: "Gothic A1", sans-serif;
  font-size: 8vw;
}
.home .quick-about p {
  text-align: center;
  padding: 0vw 2vw;
  margin-bottom: 4vw;
  font-size: 6vw;
  padding: 5vw;
  line-height: 7vw;
}
.home .quick-resume {
  padding: 12vw 4vw;
}
.home .quick-resume .res-squares {
  width: 80vw;
  margin: 10vw auto;
}
.home .quick-resume .res-squares h3 {
  font-size: 6vw;
  font-weight: bolder;
  text-align: center;
}
.home .quick-resume .res-squares p {
  padding: 3vw;
}
.home .quick-portfolio {
  padding: 12vw 4vw;
  background-color: #edeeef;
}
.home .quick-portfolio .portfolio-squares {
  width: 65vw;
  height: 65vw;
  margin: 5vw auto;
  padding: 5vw;
  background-color: #1f1f1f;
  color: white;
}
.home .quick-contact {
  padding: 12vw 4vw;
}

.nav-icon {
  width: 30px;
  height: 26px;
  float: right;
  position: relative;
  right: 10px;
  margin: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.nav-icon span {
  display: block;
  position: absolute;
  height: 5px;
  width: 50%;
  background: black;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.nav-icon span:nth-child(even) {
  left: 50%;
  border-radius: 0 9px 9px 0;
}

.nav-icon span:nth-child(odd) {
  left: 0px;
  border-radius: 9px 0 0 9px;
}

.nav-icon span:nth-child(1), .nav-icon span:nth-child(2) {
  top: 0px;
}

.nav-icon span:nth-child(3), .nav-icon span:nth-child(4) {
  top: 10px;
}

.nav-icon span:nth-child(5), .nav-icon span:nth-child(6) {
  top: 20px;
}

.nav-icon.open span:nth-child(1), .nav-icon.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.nav-icon.open span:nth-child(2), .nav-icon.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.nav-icon.open span:nth-child(1) {
  left: 4px;
  top: 7px;
}

.nav-icon.open span:nth-child(2) {
  left: calc(50% - 1px);
  top: 7px;
}

.nav-icon.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

.nav-icon.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

.nav-icon.open span:nth-child(5) {
  left: 4px;
  top: 17px;
}

.nav-icon.open span:nth-child(6) {
  left: calc(50% - 1px);
  top: 17px;
}

.jr-hero {
  background-color: #edeeef;
  padding: 4vw;
}
.jr-hero h2 {
  font-size: 10vw;
  font-family: "Dosis", sans-serif;
  margin-bottom: 2vw;
}
.jr-hero p {
  font-family: "Gothic A1", sans-serif;
  font-size: 8vw;
  line-height: 9vw;
}

.portfolio-squares {
  width: 90%;
  margin: 0 auto;
  height: 90vw;
  position: relative;
  margin-bottom: 30px;
}
.portfolio-squares img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.portfolio-squares .after-img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  font-family: "Dosis", sans-serif;
  font-size: 10vw;
  color: white;
  background: rgba(0, 0, 0, 0.6);
}
.portfolio-squares .after-img .ps-tagline {
  position: absolute;
  top: 20vw;
  width: 100%;
  text-align: center;
  font-size: 4vw;
  padding: 0vw;
  margin-bottom: 2vw;
  padding: 2vw;
  font-style: italic;
}
.portfolio-squares .after-img .ps-tag-2 {
  position: absolute;
  top: 60vw;
  width: 100%;
  text-align: center;
  font-size: 4vw;
  padding: 0vw;
  margin-bottom: 2vw;
  padding: 2vw;
}
.portfolio-squares .after-img .ps-mainline {
  position: absolute;
  top: 30vw;
  width: 100%;
  text-align: center;
  font-size: 8vw;
  padding: 0vw;
  margin-bottom: 2vw;
  padding: 2vw;
}
.portfolio-squares .after-img a {
  position: absolute;
  top: 45vw;
  left: calc(50% - 20vw);
  outline: 2px solid white;
  width: 36vw;
  text-align: center;
  padding: 2vw 4vw;
  font-size: 7vw;
}

.resume .hero {
  margin-bottom: 50px;
}
.resume .resume-blocks {
  padding: 2vw 4vw;
  margin-bottom: 50px;
}
.resume .resume-blocks h2 {
  text-align: left;
  font-size: 7vw;
  margin-bottom: 20px;
  font-family: "Gothic A1", sans-serif;
}
.resume .resume-blocks h3 {
  font-size: 5vw;
  padding-bottom: 2vw;
  font-family: "Dosis", sans-serif;
}
.resume .resume-blocks ul {
  list-style: circle inside;
  margin: 2vw 4vw;
  font-family: "Gothic A1", sans-serif;
}
.resume .resume-blocks ul li {
  padding: 2vw;
}
