body {
  background-color: #fff;
}

footer {
  background-color: #1f1f1f;
  color: #fff;
  padding: 7vw 5vw;
  height: inherit;
}
footer h3 {
  text-align: center;
  font-size: 7vw;
  margin-bottom: 5vw;
  font-family: "Permanent Marker", cursive;
}
footer ul {
  font-family: "Dosis", sans-serif;
  text-align: center;
  padding-top: 5vw;
  font-size: 6vw;
}
footer ul li {
  display: inline-block;
  padding: 1vw 3vw;
}
footer .icon-list ul {
  font-size: 5vw;
}
footer .icon-list ul li {
  padding: 4vw 5vw;
}
footer p {
  font-family: "Dosis", sans-serif;
  font-style: italic;
  font-size: 4vw;
}

.hidden {
  overflow: hidden;
  height: 100vw;
}

a {
  cursor: pointer;
}

.false-button {
  width: max-content;
  border: 4px solid #1f1f1f;
  border-radius: 2px;
  padding: 4vw 7vw;
  font-size: 5vw;
  text-align: center;
}

.hero {
  height: 75vw;
  width: 100%;
  position: relative;
}
.hero .desktop-hero {
  display: none;
}
.hero img {
  width: 100%;
  height: 100%;
  position: absolute;
}
.hero .after-hero {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  font-family: "Dosis", sans-serif;
  font-size: 10vw;
  color: white;
  background: rgba(0, 0, 0, 0.6);
}
.hero h2 {
  width: 100%;
  text-align: center;
  padding-bottom: 2vw;
  margin-bottom: 4vw;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.5vw;
  font-size: 10vw;
  padding-top: 20%;
}
.hero .hero-tag {
  text-align: center;
  font-style: italic;
  font-size: 5vw;
}

.jr-hero {
  background-color: #edeeef;
  padding: 4vw;
  padding-top: 50px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.jr-hero h2 {
  font-size: 8vw;
  font-family: "Dosis", sans-serif;
  margin-bottom: 2vw;
}
.jr-hero p {
  font-family: "Gothic A1", sans-serif;
  font-size: 6vw;
  line-height: 9vw;
}

.text-content-blocks {
  padding: 2vw 4vw;
  margin-bottom: 50px;
}
.text-content-blocks h2 {
  text-align: left;
  font-size: 7vw;
  margin-bottom: 20px;
  font-family: "Gothic A1", sans-serif;
}
.text-content-blocks h3 {
  font-size: 5vw;
  padding-bottom: 2vw;
  font-family: "Dosis", sans-serif;
}
.text-content-blocks ul {
  list-style: circle inside;
  margin: 2vw 4vw;
  font-family: "Gothic A1", sans-serif;
}
.text-content-blocks ul li {
  padding: 2vw;
}

header {
  height: 17vw;
  background-color: #fff;
}
header h1 {
  position: absolute;
  top: 2vw;
  text-align: center;
  left: 4vw;
  font-size: 7vw;
  font-family: "Permanent Marker", cursive;
}
header .nav-icon {
  position: absolute;
  top: 5vw;
  right: 3vw;
  font-size: 10vw;
}
header .main-nav {
  float: right;
  font-size: 7vw;
  margin-top: 5vw;
  margin-right: 3vw;
  position: relative;
  width: 100%;
}
header .menu {
  position: fixed;
  top: 17vw;
  left: -100%;
  z-index: 99;
  width: 100%;
  background: #1f1f1f;
  height: 100vh;
  transition: 0.5s all;
  z-index: 99;
}
header .menu li a {
  float: left;
  width: 99.7%;
  text-align: center;
  color: white;
  font-size: 9vw;
  padding: 4vw 0;
  font-family: "Permanent Marker", cursive;
}
header .display-nav {
  position: fixed;
  top: 17vw;
  left: -100%;
  z-index: 99;
  width: 100%;
  background: #1f1f1f;
  height: 100vh;
  transform: translateX(100%);
  transition: 0.5s all;
}
header .display-nav li a {
  float: left;
  width: 99.7%;
  text-align: center;
  color: white;
  font-size: 9vw;
  padding: 4vw 0;
  font-family: "Permanent Marker", cursive;
}
header li {
  list-style: none;
}
header li a {
  color: white;
  text-decoration: none;
  padding-left: 12px;
  cursor: pointer;
}
header .hidden {
  overflow: hidden;
  height: 100vw;
}

h2 {
  width: 100%;
  text-align: center;
  padding-bottom: 2vw;
  margin-bottom: 4vw;
  font-family: "Open Sans", sans-serif;
  font-size: 10vw;
}

p {
  text-align: center;
  padding: 0vw 2vw;
  margin-bottom: 4vw;
  font-size: 6vw;
  padding: 5vw;
  line-height: 7vw;
}

.false-button {
  margin: 0 auto;
}

.home {
  font-family: "Gothic A1", sans-serif;
}
.home .quick-about {
  background-color: #edeeef;
  padding: 12vw 4vw;
}
.home .quick-about h2 {
  width: 100%;
  text-align: center;
  padding-top: 2vw;
  padding-bottom: 2vw;
  margin-bottom: 4vw;
  font-family: "Gothic A1", sans-serif;
  font-size: 8vw;
}
.home .quick-about p {
  text-align: center;
  padding: 0vw 2vw;
  margin-bottom: 4vw;
  font-size: 6vw;
  padding: 5vw;
  line-height: 7vw;
}
.home .quick-resume {
  padding: 12vw 4vw;
}
.home .quick-resume h2 {
  width: 100%;
  text-align: center;
  padding-top: 2vw;
  padding-bottom: 2vw;
  margin-bottom: 4vw;
  font-family: "Gothic A1", sans-serif;
  font-size: 8vw;
}
.home .quick-resume .res-squares {
  width: 80vw;
  margin: 10vw auto;
}
.home .quick-resume .res-squares h3 {
  font-size: 6vw;
  font-weight: bolder;
  text-align: center;
}
.home .quick-resume .res-squares p {
  padding: 3vw;
}
.home .quick-portfolio {
  padding: 12vw 4vw;
  background-color: #edeeef;
}
.home .quick-portfolio h2 {
  width: 100%;
  text-align: center;
  padding-top: 2vw;
  padding-bottom: 2vw;
  margin-bottom: 4vw;
  font-family: "Gothic A1", sans-serif;
  font-size: 8vw;
}
.home .quick-portfolio .portfolio-squares {
  width: 65vw;
  height: 65vw;
  margin: 5vw auto;
  padding: 5vw;
  background-color: #1f1f1f;
  color: white;
}
.home .quick-contact {
  padding: 12vw 4vw;
}
.home .quick-contact h2 {
  width: 100%;
  text-align: center;
  padding-top: 2vw;
  padding-bottom: 2vw;
  margin-bottom: 4vw;
  font-family: "Gothic A1", sans-serif;
  font-size: 8vw;
}

.nav-icon {
  width: 30px;
  height: 26px;
  float: right;
  position: relative;
  right: 10px;
  margin: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.nav-icon span {
  display: block;
  position: absolute;
  height: 3px;
  width: 50%;
  background: black;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.nav-icon span:nth-child(even) {
  left: 50%;
  border-radius: 0 9px 9px 0;
}

.nav-icon span:nth-child(odd) {
  left: 0px;
  border-radius: 9px 0 0 9px;
}

.nav-icon span:nth-child(1), .nav-icon span:nth-child(2) {
  top: 0px;
}

.nav-icon span:nth-child(3), .nav-icon span:nth-child(4) {
  top: 10px;
}

.nav-icon span:nth-child(5), .nav-icon span:nth-child(6) {
  top: 20px;
}

.nav-icon.open span:nth-child(1), .nav-icon.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.nav-icon.open span:nth-child(2), .nav-icon.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.nav-icon.open span:nth-child(1) {
  left: 4px;
  top: 7px;
}

.nav-icon.open span:nth-child(2) {
  left: calc(50% - 1px);
  top: 7px;
}

.nav-icon.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

.nav-icon.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

.nav-icon.open span:nth-child(5) {
  left: 4px;
  top: 17px;
}

.nav-icon.open span:nth-child(6) {
  left: calc(50% - 1px);
  top: 17px;
}

.portfolio-squares {
  width: 90%;
  margin: 0 auto;
  height: 90vw;
  position: relative;
  margin-bottom: 30px;
}
.portfolio-squares img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.portfolio-squares .after-img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  font-family: "Dosis", sans-serif;
  font-size: 10vw;
  color: white;
  background: rgba(0, 0, 0, 0.6);
}
.portfolio-squares .after-img .ps-tagline {
  position: absolute;
  top: 20vw;
  width: 100%;
  text-align: center;
  font-size: 4vw;
  padding: 0vw;
  margin-bottom: 2vw;
  padding: 2vw;
  font-style: italic;
}
.portfolio-squares .after-img .ps-tag-2 {
  position: absolute;
  top: 60vw;
  width: 100%;
  text-align: center;
  font-size: 4vw;
  padding: 0vw;
  margin-bottom: 2vw;
  padding: 2vw;
}
.portfolio-squares .after-img .ps-mainline {
  position: absolute;
  top: 30vw;
  width: 100%;
  text-align: center;
  font-size: 7vw;
  padding: 0vw;
  margin-bottom: 2vw;
  padding: 2vw;
}
.portfolio-squares .after-img a {
  position: absolute;
  top: 45vw;
  left: calc(50% - 20vw);
  outline: 2px solid white;
  width: 36vw;
  text-align: center;
  padding: 2vw 4vw;
  font-size: 7vw;
}

.resume .hero {
  margin-bottom: 50px;
}

.about .text-content-blocks h3 {
  text-align: center;
  font-size: 8vw;
}
.about .text-content-blocks p {
  font-family: "Gothic A1", sans-serif;
  line-height: 9vw;
}

.contact .jr-hero {
  margin-bottom: 0px;
}
.contact .jr-hero h2 {
  font-size: 9vw;
}
.contact .jr-hero ul {
  padding: 5vw;
}
.contact .jr-hero ul li {
  font-size: 6vw;
  margin-bottom: 15px;
}
.contact .jr-hero ul li span:before {
  font-size: 9vw;
}
.contact .text-content-blocks {
  padding: 4vw 0vw;
  margin-bottom: 0px;
}
.contact .text-content-blocks h3 {
  text-align: center;
  font-size: 8vw;
}
.contact .text-content-blocks p {
  font-family: "Gothic A1", sans-serif;
  line-height: 9vw;
  margin-bottom: 0px;
}

@media only screen and (min-width: 640px) {
  .false-button {
    padding: 15px 20px;
    font-size: 25px;
    clear: both;
  }

  .hero {
    height: 50vw;
  }
  .hero .mobile-hero {
    display: none;
  }
  .hero .desktop-hero {
    display: block;
  }
  .hero h2 {
    font-size: 6vw;
  }
  .hero .hero-tag {
    font-size: 3vw;
  }
}
@media only screen and (min-width: 715px) {
  body {
    position: relative;
  }

  header {
    background: transparent;
    position: absolute;
    z-index: 1000000;
    color: #fff;
    width: 100%;
    height: 120px;
  }
  header h1 {
    position: static;
    display: inline-block;
    font-size: 45px;
    width: 20%;
    text-align: left;
    padding: 10px 20px;
  }
  header h1:hover {
    color: #33b9da;
  }
  header .nav-icon {
    display: none;
  }
  header .main-nav {
    float: right;
    width: 70%;
    margin: 0px;
    margin-right: 20px;
    display: inline-block;
    height: 120px;
  }
  header .main-nav:hover {
    color: #a9a9a9;
  }
  header .main-nav .menu {
    background: transparent;
    position: static;
    text-align: right;
    height: 120px;
  }
  header .main-nav .menu li {
    display: inline-block;
  }
  header .main-nav .menu li a {
    font-size: 25px;
    color: inherit;
  }
  header .main-nav .menu li a:hover {
    color: #33b9da;
  }
}
@media only screen and (min-width: 640px) {
  .home .quick {
    padding: 80px 6%;
  }
  .home .quick h2 {
    padding: 0px;
    font-size: 45px;
    margin-bottom: 30px;
  }
  .home .quick p {
    padding: 20px;
    margin: 0px;
    margin-bottom: 20px;
    font-size: 22px;
    line-height: 40px;
  }
  .home .quick .res-squares {
    display: inline-block;
    float: left;
    width: 28.5%;
    padding: 0px 2%;
    margin-top: 40px;
    margin-bottom: 0px;
  }
  .home .quick .res-squares h3 {
    font-size: 30px;
  }
  .home .quick .res-squares p {
    padding: 20px 0px;
    margin: 20px 0px;
    font-size: 18px;
    line-height: 40px;
  }
  .home .quick .portfolio-squares {
    display: inline-block;
    width: 29.5%;
    height: 25vw;
    padding: 0px;
    margin: 30px 1.5%;
  }
  .home .quick .portfolio-squares p {
    padding: 0px;
    margin: 0px;
  }
  .home .quick .portfolio-squares .ps-tagline {
    top: 22%;
    font-size: 2vw;
  }
  .home .quick .portfolio-squares .ps-mainline {
    top: 35%;
    font-size: 2.5vw;
  }
  .home .quick .portfolio-squares .ps-tag-2 {
    top: 75%;
    font-size: 1.5vw;
    font-style: italic;
  }
  .home .quick .portfolio-squares a {
    top: 55%;
    left: 23%;
    width: 40%;
    padding: 10px 20px;
    font-size: 2vw;
  }
  .home .quick-contact h2 {
    margin-bottom: 30px;
  }
}
