header {
  height: 17vw;
}
header h1 {
  position: absolute;
  top: 4vw;
  left: 3vw;
  font-size: 10vw;
}
header .nav-icon {
  position: absolute;
  top: 4vw;
  right: 3vw;
  font-size: 10vw;
}
header .main-nav {
  float: right;
  font-size: 7vw;
  margin-top: 5vw;
  margin-right: 3vw;
  position: relative;
  width: 100%;
}
header .menu {
  position: fixed;
  top: 17vw;
  left: -100%;
  z-index: 99;
  width: 100%;
  background: #1f1f1f;
  height: 100vh;
  transition: 0.5s all;
  z-index: 99;
}
header .menu li a {
  float: left;
  width: 99.7%;
  text-align: center;
  color: white;
  font-size: 10vw;
  padding: 4vw 0;
}
header .display-nav {
  position: fixed;
  top: 17vw;
  left: -100%;
  z-index: 99;
  width: 100%;
  background: #1f1f1f;
  height: 100vh;
  transform: translateX(100%);
  transition: 0.5s all;
}
header .display-nav li a {
  float: left;
  width: 99.7%;
  text-align: center;
  color: white;
  font-size: 10vw;
  padding: 4vw 0;
}
header li {
  list-style: none;
}
header li a {
  color: white;
  text-decoration: none;
  padding-left: 12px;
  cursor: pointer;
}
header .hidden {
  overflow: hidden;
  height: 100vw;
}

h2 {
  width: 100%;
  text-align: center;
  padding-top: 2vw;
  padding-bottom: 2vw;
  margin-bottom: 4vw;
  font-family: "Merriweather", serif;
  font-size: 8vw;
}

p {
  text-align: center;
  padding: 0vw 2vw;
  margin-bottom: 4vw;
  font-size: 6vw;
  padding: 5vw;
  line-height: 7vw;
}

.false-button {
  margin: 0 auto;
}

.home {
  font-family: "Raleway", sans-serif;
}
.home .hero {
  height: 75vw;
  width: 100%;
  position: relative;
}
.home .hero img {
  width: 100%;
  height: 100%;
  position: absolute;
}
.home .hero h2 {
  position: absolute;
  text-align: center;
  width: 80%;
  margin-top: 30vw;
  margin-left: 10%;
  margin-right: 10%;
  font-size: 10vw;
}
.home .quick-about {
  background-color: #edeeef;
  padding: 12vw 4vw;
}
.home .quick-about h2 {
  width: 100%;
  text-align: center;
  padding-top: 2vw;
  padding-bottom: 2vw;
  margin-bottom: 4vw;
  font-family: "Merriweather", serif;
  font-size: 8vw;
}
.home .quick-about p {
  text-align: center;
  padding: 0vw 2vw;
  margin-bottom: 4vw;
  font-size: 6vw;
  padding: 5vw;
  line-height: 7vw;
}
.home .quick-resume {
  padding: 12vw 4vw;
}
.home .quick-resume .res-squares {
  width: 80vw;
  height: 60vw;
  margin: 10vw auto;
}
.home .quick-resume .res-squares h3 {
  font-size: 6vw;
  font-weight: bolder;
  text-align: center;
}
.home .quick-resume .res-squares p {
  padding: 3vw;
}
.home .quick-portfolio {
  padding: 12vw 4vw;
  background-color: #edeeef;
}
.home .quick-portfolio .portfolio-squares {
  width: 65vw;
  height: 65vw;
  margin: 5vw auto;
  padding: 5vw;
  background-color: #1f1f1f;
  color: white;
}
.home .quick-contact {
  padding: 12vw 4vw;
}

.false-button {
  width: max-content;
  border: 4px solid #1f1f1f;
  border-radius: 2px;
  padding: 4vw 7vw;
  font-size: 5vw;
  text-align: center;
}

footer {
  height: 150px;
  margin-top: 20px;
  background-color: #1f1f1f;
  color: white;
}

.hidden {
  overflow: hidden;
  height: 100vw;
}
