$font-main: 'Gothic A1', sans-serif;
$font-secondary: 'Dosis', sans-serif;
$font-logo: 'Permanent Marker', cursive;
$font-header: 'Open Sans', sans-serif;
$light-grey: #edeeef;
$grey: #a9a9a9;
$black: #1f1f1f;
$white: #fff;
$blue: #33b9da;
$gutter-small: 2vw;
$gutter-large: 4vw;

// font-family: 'Gothic A1', sans-serif;
// font-family: 'Raleway', sans-serif;
// font-family: 'Dosis', sans-serif;
// font-family: 'Quicksand', sans-serif;
