$font-main: 'Gothic A1', sans-serif;
$font-secondary: 'Raleway', serif;
$light-grey: #edeeef;
$black: #1f1f1f;


// font-family: 'Gothic A1', sans-serif;
// font-family: 'Raleway', sans-serif;
// font-family: 'Dosis', sans-serif;
// font-family: 'Quicksand', sans-serif;
